[submodule "back"]
	path = back
	url = https://github.com/LCT-46-C-Blings/flask-back.git
[submodule "front"]
	path = front
	url = https://github.com/LCT-46-C-Blings/itelma-front.git
[submodule "remote-data"]
	path = remote-data
	url = https://github.com/LCT-46-C-Blings/demeda.git
